{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!--dynamic meta description -->
     <!-- Meta tags, title, CSS links -->
     <title>{% block title %}Real Estate Company{% endblock %}</title>
     <meta name="description" content="{% block meta_description %}Discover properties, buy, sell, or rent homes and offices with our real estate services.{% endblock %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <!-- AddThis script -->
     <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=YOUR_ADDTHIS_PUBID"></script>
    
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Inline Critical CSS -->
     <style>
        /* Critical CSS goes here */
        body {
            font-family: Arial, sans-serif;
        }
        /* Add more critical CSS */
    </style>

    <!-- Load Non-Critical CSS Asynchronously -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="print" onload="this.onload=null;this.removeAttribute('media');">
    <noscript><link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></noscript>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="print" onload="this.onload=null;this.removeAttribute('media');">
    <noscript><link rel="stylesheet" href="{% static 'css/style.css' %}"></noscript>
    <!-- Load Non-Critical CSS Asynchronously -->


    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/icon/favicon.png" %}" loading="lazy">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/slicknav.css" %}">

    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">

    <link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/slick.css" %}">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static "toastify/toastify.css" %}">


</head>

<body>

    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static "img/icon/loder.png" %}" alt="loder" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-area">
            <div class="main-header">
                <div class="header-top header-sticky">
                    <div class="container">
                        <div class="d-flex align-items-center justify-content-between flex-wrap position-relative">

                            <div class="left-side d-flex align-items-center">
                                <div class="logo">
                                    <a href="#" class="header-btn2">Call Us: <span>+10 (78) 356 3276</span></a>  
                                </div>

                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'website:index' %}">Home</a></li>
                                            <li><a href="{% url 'website:property' %}">Property</a></li>
                                            <li><a href="{% url 'website:about' %}">About</a></li>
                                            <li><a href="{% url 'blog:index' %}">Blog</a></li>
                                            <li><a href="{% url 'website:contact' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="header-right-btn f-right">
                                {%  if request.user.is_authenticated %}
                                    <a href="#" class="btn_1">Login {{ request.user.username }}</a>
                                    <a href="{% url "logout" %}" class="btn_1">logout </a>
                                {% else %}
                                    <a href="{% url "login" %}" class="btn_1">login {{ request.user.username }}</a>
                                    <a href="{% url "register" %}" class="btn_1">Sign up</a>
                                {% endif %}
                            </div>

                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'messages.html' %}
                <div class="header-bottom">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xxl-8 col-xl-10 col-lg-11">

                                <form action="#" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Enter Keyword..">

                                        <div class="icon">
                                            <i class="ti-search"></i>
                                        </div>
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value>Rent</option>
                                                <option value>Rent 1</option>
                                                <option value>Rent 2</option>
                                                <option value>Rent 3</option>
                                                <option value>Rent 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="select-form select-form2">
                                        <div class="select-itms">
                                            <select name="select" id="select2">
                                                <option value>Bed</option>
                                                <option value>Bed 1</option>
                                                <option value>Bed 2</option>
                                                <option value>Bed 3</option>
                                                <option value>Bed 4</option>
                                            </select>
                                            <div class="select-items">
                                                <img src="{% static "img/icon/bed.svg" %}" alt="bed" loading="lazy">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-form select-form2">
                                        <div class="select-itms">
                                            <select name="select" id="select3">
                                                <option value>Bath</option>
                                                <option value>Bath 1</option>
                                                <option value>Bath 2</option>
                                                <option value>Bath 3</option>
                                                <option value>Bath 4</option>
                                            </select>
                                        </div>
                                        <div class="select-items">
                                            <img src="{% static "img/icon/bath.svg" %}" alt="bath" loading="lazy">
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <button>Search</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <div class="footer-wrapper">

            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">

                                    <div class="footer-logo mb-35">
                                        <a href="{% url 'website:index' %}"><img src="{% static "img/logo/logo2_footer.png" %}" alt='logo2_footer' loading="lazy"></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum
                                            </p>
                                        </div>

                                        <ul class="footer-social">
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li><a href="{% url 'website:index' %}">Home</a></li>
                                        <li><a href="{% url 'website:about'%}">About</a></li>
                                        <li><a href="{% url 'blog:index'%}">Blog</a></li>
                                        <li><a href="{% url 'website:contact'%}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Services</h4>
                                    <ul>
                                        <li><a href="#">Drone Mapping</a></li>
                                        <li><a href="#"> Real State</a></li>
                                        <li><a href="#">Commercial</a></li>
                                        <li><a href="#">Construction</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Drone Mapping</a></li>
                                        <li><a href="#"> Real State</a></li>
                                        <li><a href="#">Commercial</a></li>
                                        <li><a href="#">Construction</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle mb-50">
                                    <h4>Contact Us</h4>
                                    <ul>
                                        <li><div class="media-body"><p>Buttonwood, California. Rosemead, CA 91770</p></div></li>
                                        <li><div class="media-body"><p>+1 253 565 2365<br> Mon to Fri 9am to 6pm</p></div></li>
                                        <li><div class="media-body"><p>konato@gmail.com<br>Send us your query anytime!</p></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                        This template is made with <i class="fa fa-heart color-danger"
                                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                            rel="nofollow noopener">Shahramsamar</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <div id="back-top">
        <a class="wrapper" title="Go to Top" href="#">
            <div class="arrows-container">
                <div class="arrow arrow-one">
                </div>
                <div class="arrow arrow-two">
                </div>
            </div>
        </a>
    </div>

    <script src="{% static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/slick.min.js" %}"></script>
    <script src="{% static "js/jquery.slicknav.min.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.js" %}"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "js/jquery.counterup.min.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "js/contact.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/mail-script.js" %}"></script>
    <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <script src="{% static "toastify/toastify.js" %}"></script>

     
    <!-- Load Non-Essential JavaScript Deferred -->
    <script defer src="{% static 'js/main.js' %}"></script>
    <script defer src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Add more deferred scripts -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

</html>